# .gitattributes for GitHub Linguist
# Siehe: https://github.com/github/linguist

# ------------------------------
# Doku / Website-Dateien nicht in Sprach-Statistik einbeziehen
/site/**              linguist-documentation
/site/**              linguist-vendored
/site/assets/**       linguist-generated

# ------------------------------
# Specs und Schemas explizit als YAML / JSON zählen
/openapi.yaml         linguist-language=YAML
/schemas/**           linguist-language=JSON
/examples/**          linguist-language=JSON

# ------------------------------
# Referenzimplementierungen in Code zählen lassen
/reference/**       -linguist-vendored

# ------------------------------
# LineEndings immer LF
* text=auto eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.md text eol=lf
